allure-pytest==2.15.3
allure-python-commons==2.15.3
asgiref==3.10.0
attrs==25.4.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
defusedxml==0.7.1
Django==5.2
django-debug-toolbar==6.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
drf-spectacular==0.29.0
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
oauthlib==3.3.1
packaging==26.0
pluggy==1.6.0
psycopg2-binary==2.9.11
pycparser==2.23
Pygments==2.20.0
PyJWT==2.10.1
pytest==9.0.2
pytest-django==4.12.0
pytest-html==4.2.0
pytest-metadata==3.1.1
python-dotenv==1.2.1
python3-openid==3.2.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rpds-py==0.28.0
social-auth-app-django==5.6.0
social-auth-core==4.8.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
